:root {
  --black-color: #000;
  --darkest-color: #17171a;
  --darker-color: #2b2a30;
  --dark-color: #3a393f;
  --gray-color: #585858;
  --white-color: #fff;
  --start-color: #9d0000;
  --stop-color: #00aa51;
}
